<div class="function-buttons">
  @for (feature of features; track feature.feature) {
    <ion-button fill="clear" (click)="onFeatureClick({ type: feature.type, feature: feature.feature })">
      <div class="bcon" style="display: flex; flex-direction: column; gap: 0.5rem; padding: 0.7rem 0.7rem; justify-content: center; align-items: center;">
        <ion-icon slot="icon-only" [name]="feature.icon" style="font-size: 1.7rem;" [ngStyle]="getFeatureToggleStyle(feature.toggle)"></ion-icon>
        <span class="btxt" [ngStyle]="getFeatureToggleStyle(feature.toggle)">{{ feature.name }}</span>
      </div>
    </ion-button>
  }
</div>
<div class="numbers-buttons">
  @for (n of numbers; track n.value) {
    <app-number-button [value]="n.value.toString()" [missingValue]="n.missingValue.toString()" (click)="onNumberClick(n.value)" [ngStyle]="{'visibility': n.missingValue <= 0 ? 'hidden' : 'visible'}"></app-number-button>
  }
</div>
