<div class="function-buttons">
  <button type="button">Back</button>
  <button type="button">Erase</button>
  <button type="button">Notes</button>
  <button type="button">Tip</button>
</div>
<div class="numbers-buttons">
  <button type="button">1</button>
  <button type="button">2</button>
  <button type="button">3</button>
  <button type="button">4</button>
  <button type="button">5</button>
  <button type="button">6</button>
  <button type="button">7</button>
  <button type="button">8</button>
  <button type="button">9</button>
</div>
