@mixin numbers-buttons() {
  @media (orientation: portrait) {
    .numbers-buttons {
      display: flex;
    }
  }

  @media (orientation: landscape) {
    .numbers-buttons {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  button {
    padding: min(2vh, 2vw);
    font-size: min(2vh, 2vw);
  }

  & div {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin: 0.5rem;
  }

  @include numbers-buttons();

  // .numbers-buttons > * {
  //   flex: 1 min(15vh, 15vw);
  // }

  .numbers-buttons > button:hover {
    background-color: red;
  }
}
