<div class="function-buttons">
  <button type="button">Back</button>
  <button type="button" (click)="onFeatureClick({ type: 'click', feature: 'erase'})">Erase</button>
  <button type="button" (click)="onFeatureClick({ type: 'toggle', feature: 'notes'})">Notes
    @if(inputMode === 'notes') {
      <small>ON</small>
    } @else {
      <small>OFF</small>
    }
  </button>
  <button type="button">Tip</button>
</div>
<div class="numbers-buttons">
  <app-number-button [value]="'1'"></app-number-button>
  <app-number-button [value]="'2'"></app-number-button>
  <app-number-button [value]="'3'"></app-number-button>
  <app-number-button [value]="'4'"></app-number-button>
  <app-number-button [value]="'5'"></app-number-button>
  <app-number-button [value]="'6'"></app-number-button>
  <app-number-button [value]="'7'"></app-number-button>
  <app-number-button [value]="'8'"></app-number-button>
  <app-number-button [value]="'9'"></app-number-button>
  <!-- <button type="button" (click)="onNumberClick(1)">1</button>
  <button type="button" (click)="onNumberClick(2)">2</button>
  <button type="button" (click)="onNumberClick(3)">3</button>
  <button type="button" (click)="onNumberClick(4)">4</button>
  <button type="button" (click)="onNumberClick(5)">5</button>
  <button type="button" (click)="onNumberClick(6)">6</button>
  <button type="button" (click)="onNumberClick(7)">7</button>
  <button type="button" (click)="onNumberClick(8)">8</button>
  <button type="button" (click)="onNumberClick(9)">9</button> -->
</div>
