@mixin numbers-buttons() {
  @media (orientation: portrait) {
    .numbers-buttons {
      display: flex;
      justify-content: space-evenly;
      gap: 0.2rem;
    }

    .function-buttons {
      display: flex;
      justify-content: center;

      ion-button {
        --background: transparent;
      }
    }
  }

  @media (orientation: landscape) {
    .numbers-buttons {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 0.3rem;
    }

    .function-buttons {
      display: flex;
      justify-content: center;

      ion-button {
        --background: rgba(var(--ion-color-secondary-rgb), 0.45);
      }
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  width: 100%;

  ion-button {
    width: 100%;
    font-size: 0.7rem;
    --color: var(--ion-color-secondary-contrast);
  }

  @include numbers-buttons();
}
