:host,
.container {
  width: 100%;
  height: 100%;
}

.container,
.statistic,
.buttons {
  display: flex;
  flex-direction: column;
}

:host {
  position: absolute;
  z-index: 10;
  color: var(--ion-color-secondary-contrast);

  .loss-background {
    background: linear-gradient(-45deg, var(--sudoku-loss-color1), var(--sudoku-loss-color2), var(--sudoku-loss-color3), var(--sudoku-loss-color4));
  }

  .victory-background {
    background: linear-gradient(
      -45deg,
      var(--sudoku-victory-color1),
      var(--sudoku-victory-color2),
      var(--sudoku-victory-color3),
      var(--sudoku-victory-color4)
    );
  }

  .default-background {
    background: linear-gradient(-45deg, #000000);
  }

  .container {
    justify-content: center;
    align-items: center;

    background-size: 300% 300%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    & .box {
      border-radius: 8px;
      padding: 2rem;

      @media (orientation: portrait) {
        width: 80%;
        max-width: 20rem;
      }

      @media (orientation: landscape) {
        width: 50%;
      }

      background-color: rgba(var(--ion-color-secondary-rgb), .5);

      & .statistics {
        & div:nth-child(1) {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;
          line-height: 0;
          text-align: center;
        }

        & div.statistics-score {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          color: var(--ion-color-secondary-contrast);
        }
      }
      & .top {
        text-align: center;
      }

      & .buttons {
        & .buttons-row {
          display: flex;

          & > * {
            width: 100%;
          }
        }
      }
    }
  }
}
