<div class="container" [ngClass]="getFinishGameClassType()">
  <div class="box">
    <div class="top">
      <h1>{{ title }}</h1>
      <h3>{{ description }}</h3>
    </div>

    @if(finishType === 'LOSS') {
    <div class="statistics">
      <div class="statistics-score">
        <h1>Score 00 000</h1>
      </div>
    </div>
    <div class="buttons">
      <ion-button expand="block" (click)="onSecondChance()">Second chance</ion-button>
      <div class="buttons-row">
        <ion-button expand="block" (click)="navigateHome()">Home</ion-button>
        <ion-button expand="block" (click)="onRestartGame()">Restart</ion-button>
      </div>
    </div>
    } @if(finishType === 'VICTORY') {
    <div class="statistics">
      <div class="statistics-general-info">
        <p>Difficulty: Easy</p>
        <p>Time: 00:10:34</p>
      </div>
      <div class="statistics-score">
        <h1>Score 00 000</h1>
      </div>
    </div>
    <div class="buttons">
      <div class="buttons-row">
        <ion-button expand="block" (click)="navigateHome()">Home</ion-button>
        <ion-button expand="block" (click)="onStatistics()">Statistics</ion-button>
      </div>
    </div>
    }
  </div>
</div>
