<app-header [showBack]="true" [backPath]="backPath" title="Options"></app-header>
<ion-content>
  <!-- Temporarily hardcoded -->
  <ion-list [inset]="true">
    <ion-item [button]="true" (click)="onMenuItemClick()">
      <ion-icon slot="start" name="stats-chart-outline" size="large"></ion-icon>
      <ion-label>Statistics</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" size="small"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    @for(item of options; track item; let index = $index) { @if(item.display) {
    <ion-item>
      <ion-toggle [checked]="item.value" (ionChange)="onToggleChange(index)">
        <ion-label>{{ item.title }}</ion-label>
        @if(item.description) {
        <ion-note color="medium">{{ item.description }}</ion-note>
        }
      </ion-toggle>
    </ion-item>

    } }
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label
        >Application version
        <p>{{ (buildVersion | async)?.appVersion}}</p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label
        >Current iteration
        <p>{{ (buildVersion | async)?.iterationNumber}}</p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label
        ><span [appHoldTouch]="debugModeHoldTime" (holdTouch)="runDevMode()">Com</span>pilation number
        <p>{{ (buildVersion | async)?.compilationNumber}}</p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label
        >Build version
        <p>{{ (buildVersion | async)?.buildVersion}}</p></ion-label
      >
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item [button]="true" [appHoldTouch]="3000" (holdTouch)="restartApp()">
      <ion-label>Restart application <p>Press for 3 seconds</p></ion-label>
    </ion-item>
    <ion-item [button]="true" [appHoldTouch]="10000" (holdTouch)="restoreDefaults()">
      <ion-label (click)="restoreDefaults()">Restore defaults <p>Press for 10 seconds</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
