:host,
.notes-grid-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field,
.notes-grid {
  height: 100%;
  width: 100%;
}

.player-value {
  color: var(--ion-color-primary);
}

.player-wrong-value {
  color: var(--ion-color-danger);
}

.initial-value {
  color: var(--ion-text-color);
}

:host {
  background-color: var(--ion-board-background);
  & .field-value {
    position: absolute;
    font-size: 1.4em;
  }

  & .field-value-debug {
    position: absolute;
    font-size: 0.8;
  }

  & .notes-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.5em;
  }
}
