<ion-content class="ion-padding">
  <ion-modal [backdropDismiss]="backdropDismissEnabled" #modal [isOpen]="isOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">
        <h1>Change theme</h1>
        <div class="themes">
          @for(item of themes; track item.name) {
            <ion-button [ngStyle]="getThemeStyle(item.name)" (click)="onThemeClick(item.name)"></ion-button>
          }
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
