ion-modal {
  --height: auto;
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .themes {
      display: flex;
      gap: 1rem;
      margin: 2rem;
      & ion-button {
        width: 3rem!important;
        height: 3rem!important;
        --border-radius: 50%;
        --ripple-color: transparent;
      }
    }

  }
}


