<app-header
  [showPause]="true"
  [showBack]="true"
  [showThemes]="true"
  [showOptions]="true"
  [isPaused]="isPaused"
  [isThemesMenuVisible]="isThemeMenuVisible"
  backPath="home"
  parentPath="game"
  (pauseClickEvent)="pause($event)"
  (backClickEvent)="back($event)"
  (themeClickEvent)="themes($event)"
></app-header>

<ion-content [fullscreen]="true">
  <div class="container" [ngStyle]="{'filter':isPaused ? 'blur(10px)' : 'blur(0px)' }">
    <app-status-bar [visibleScore]="true"></app-status-bar>
    <div class="board">
      <app-board></app-board>
    </div>
    <div class="controls">
      <app-controls></app-controls>
    </div>
  </div>
</ion-content>
<app-pause [isOpen]="isPaused" (actionEvent)="onPauseModalDismiss($event)"></app-pause>
<app-theme [isOpen]="isThemeMenuVisible" (actionEvent)="onThemeModalDismiss($event)"></app-theme>

<app-fullscreen-view
  [isOpen]="isFinalViewOpen"
  (closeEvent)="onFinishGameScreenClose()"
  [title]="gameFinished.title"
  [description]="gameFinished.description"
  [finishType]="gameFinished.finishType"
></app-fullscreen-view>
