<app-header [showBack]="true" backPath="home"></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    @if((orientation | async) === 'portrait') {
      <div class="status-bar-wrapper">
        <app-status-bar [level]="level"></app-status-bar>
      </div>
    }
    <div class="container-wrap">
      <div class="board">
        @for (field of board.flat(); track field) {
          <div class="field">
            @if(isValueMode) {
              <div class="notes-value">{{ field }}</div>
            } @else {
              <div class="notes-grid">
                @for (fieldNotes of notesGrid.flat(); track fieldNotes) {
                  <div class="notes-grid-field">{{ fieldNotes }}</div>
                } @empty {}
              </div>
              
            }
          </div>
        } @empty { Empty }
      </div>
      <div class="controls">
        @if((orientation | async) === 'landscape') {
          <div class="status-bar-wrapper">
            <app-status-bar [level]="level"></app-status-bar>
          </div>
        }
        <ion-button (click)="toggleMode()"> {{ isValueMode ? 'Toggle notes' : 'Toggle value' }} </ion-button>
      </div>
    </div>
  </div>
</ion-content>
