$header: 44px;
$vheight: calc(95vh - $header);
$vwidth: calc(95vw - $header);
$vhDiff: 20.3vh;
$vwDiff: 10vw;


@mixin grid($size, $unit) {
  display: grid;
  grid-template-rows: repeat($size, $unit);
  grid-template-columns: repeat($size, $unit);
}

@mixin controls($height, $width) {
  .controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    app-status-bar {
      padding-bottom: 2vh;
      border-bottom: 2px solid var(--ion-color-primary-tint);
    }
  }

  @media (orientation: portrait) {
    .controls {
      height: auto;
      max-height: $height;
      width: $width;
      padding-top: 1vh;
    }
  }

  @media (orientation: landscape) {
    .controls {
      height: auto;
      width: $width;
      padding-top: 1vw;
      padding-left: 2vw;
    }
  }
}

@mixin board($boardWidth, $boardHeight, $boardFontSize) {
  .board {
    width: $boardWidth;
    height: $boardHeight;
    font-size: clamp(0em, $boardFontSize, 3em);
  }
}

.container,
.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.container {
  height: 100%;
  width: 100%;
}

.container {
  flex-direction: column;

  @media (orientation: portrait) and (max-aspect-ratio: '0.67/1') {
    app-status-bar {
      width: $vwidth;
    }
  }

  @media (orientation: portrait) and (min-aspect-ratio: '0.68/1') and (max-aspect-ratio: '1/1') {
      app-status-bar {
      width: calc($vwidth - $vwDiff);
    }
  }

  @media (orientation: landscape) {
      app-status-bar {
      width: 100%;
    }
  }

  .container-wrap {
    flex-wrap: wrap;

    @media (orientation: landscape) and (min-aspect-ratio: 1.51/1) {
      @include board($vheight, $vheight, 4vh);
      @include controls($vheight, calc($vwidth - $vheight));
    }

    @media (orientation: landscape) and (min-aspect-ratio: '1.33/1') and (max-aspect-ratio: '1.5/1') {
      @include board(calc($vheight - $vhDiff), calc($vheight - $vhDiff), 3.7vh);
      @include controls(calc($vheight - $vhDiff), calc($vwidth - $vheight + $vhDiff));
    }

    @media (orientation: portrait) and (max-aspect-ratio: '0.67/1') {
      @include board($vwidth, $vwidth, 5vw);
      @include controls(calc($vheight - $vwidth), $vwidth);
    }

    @media (orientation: portrait) and (min-aspect-ratio: '0.68/1') and (max-aspect-ratio: '1/1') {
      @include board(calc($vwidth - $vwDiff), calc($vwidth - $vwDiff), 4vw);
      @include controls(calc($vheight - $vwidth + $vwDiff), $vwidth);
    }
  }
}

.debug {
  display: flex;

  div.dbgbtn {
    margin: 1px;
    font-size: 0.65em;
    background-color: lightgreen;
    color: black;
    padding: 5px;
  }

}
