<app-header
  [showPause]="true"
  [showBack]="true"
  [isPaused]="isPaused"
  backPath="home"
  (pauseClickEvent)="pause($event)"
  [title]="title"
></app-header>

<ion-content [fullscreen]="true">
  <div class="container" [ngStyle]="{'filter':isPaused ? 'blur(10px)' : 'blur(0px)' }">
    @if((orientation$ | async) === 'portrait') {
    <div class="status-bar-wrapper">
      <app-status-bar></app-status-bar>
    </div>
    }
    <div class="container-wrap">
      <div class="board">
        <app-board></app-board>
      </div>
      <div class="controls">
        @if((orientation$ | async) === 'landscape') {
          <app-status-bar></app-status-bar>
        }
        <app-controls></app-controls>
        <!-- <div class="debug">
          <div class="dbgbtn" (click)="timerStart()">Start</div>
          <div class="dbgbtn" (click)="timerStop()">Stop</div>
          <div class="dbgbtn" (click)="timerRestart()">Restart</div>
        </div> -->
      </div>
    </div>
  </div>
</ion-content>
<app-pause
  [isOpen]="isPaused"
  (actionEvent)="onPauseModalDismiss($event)"
></app-pause>
