$header: 44px;
$vheight: calc(95vh - $header);
$vwidth: calc(95vw - $header);
$vhDiff: 20.3vh;
$vwDiff: 10vw;


@mixin grid($size, $unit) {
  display: grid;
  grid-template-rows: repeat($size, $unit);
  grid-template-columns: repeat($size, $unit);
}

@mixin controls($height, $width) {
  .controls {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: brown;
  }

  @media (orientation: portrait) {
    .controls {
      height: auto;
      max-height: $height;
      width: $width;
      padding-top: 1vh;
    }
  }

  @media (orientation: landscape) {
    .controls {
      height: $height;
      width: $width;
      padding-top: 1vw;
    }
  }
}

@mixin board($boardWidth, $boardHeight, $boardFontSize) {
  .board {
    width: $boardWidth;
    height: $boardHeight;
    font-size: clamp(0em, $boardFontSize, 3em);

    & * > .notes-grid-field {
      font-size: 0.5em;
    }
  }
}

.container,
.container-wrap,
.field,
.notes-grid-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.field,
.notes-grid {
  height: 100%;
  width: 100%;
}

.container {
  flex-direction: column;
  
  @media (orientation: portrait) and (max-aspect-ratio: '0.67/1') {
    .status-bar-wrapper {
      width: $vwidth;
    }
  }

  @media (orientation: portrait) and (min-aspect-ratio: '0.68/1') and (max-aspect-ratio: '1/1') {
    .status-bar-wrapper {
      width: calc($vwidth - $vwDiff);
    }
  }

  @media (orientation: landscape) {
    .status-bar-wrapper {
      width: 100%;
    }
  }

  .container-wrap {
    flex-wrap: wrap;

    @media (orientation: landscape) and (min-aspect-ratio: 1.51/1) {
      @include board($vheight, $vheight, 4vh);
      @include controls($vheight, calc($vwidth - $vheight));
    }

    @media (orientation: landscape) and (min-aspect-ratio: '1.33/1') and (max-aspect-ratio: '1.5/1') {
      @include board(calc($vheight - $vhDiff), calc($vheight - $vhDiff), 3.7vh);
      @include controls(calc($vheight - $vhDiff), calc($vwidth - $vheight + $vhDiff));
    }

    @media (orientation: portrait) and (max-aspect-ratio: '0.67/1') {
      @include board($vwidth, $vwidth, 5vw);
      @include controls(calc($vheight - $vwidth), $vwidth);
    }

    @media (orientation: portrait) and (min-aspect-ratio: '0.68/1') and (max-aspect-ratio: '1/1') {
      @include board(calc($vwidth - $vwDiff), calc($vwidth - $vwDiff), 4vw);
      @include controls(calc($vheight - $vwidth + $vwDiff), $vwidth);
    }

    .board {
      @include grid(var(--board-size), 1fr);
      border-left: 1px solid var(--ion-color-secondary);
      border-top: 1px solid var(--ion-color-secondary);

      & .field {
        color: #aaa;
        border-right: 1px solid var(--ion-color-secondary);
        border-bottom: 1px solid var(--ion-color-secondary);

        & .notes-grid {
          @include grid(3, 1fr);

          & .notes-grid-field {
          }
        }
      }
    }
  }
}
