// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import './light.scss', './dark.scss', './apricot.scss';

html {
  --ion-theme-light-presentable: #f4f5f8;
  --ion-theme-light-device-bar: #f5f5f5;
  --ion-theme-dark-presentable: #212433;
  --ion-theme-dark-device-bar: #0e1012;
  --ion-theme-apricot-presentable: #e4d6a8;
  --ion-theme-apricot-device-bar: #f3eedd;
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
