/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

:root {
  --board-size: 9;
  --header-size: 0px;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

body * {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

@media (orientation: portrait) {
  html {
    font-size: calc(10px + 1.3vw);
  }
}

@media (orientation: landscape) {
  html {
    font-size: calc(10px + 1.3vh);
  }
}

ion-content {
  --overflow: hidden;
}

ion-button {
  --border-radius: 7px;
  // font-size: 0.7rem;
}

.action-sheet-button.sc-ion-action-sheet-ios {
  // font-size: 0.8rem;
}
app-field {
  $borderSquare: 2px solid var(--ion-board-border-square);
  $borderInternal: 1px solid var(--ion-board-border-internal);

  &.selected {
    background-color: var(--ion-field-selected);
  }

  &.highlight {
    background-color: var(--ion-field-highlight);
  }

  &.border-left {
    border-left: $borderSquare;
  }

  &.border-top {
    border-top: $borderSquare;
  }

  &.border-internal-top {
    border-top: $borderInternal;
  }

  &.border-internal-left {
    border-left: $borderInternal;
  }
}

.hide {
  display: none!important;
}
