@mixin grid($size, $unit) {
  display: grid;
  grid-template-rows: repeat($size, $unit);
  grid-template-columns: repeat($size, $unit);
}

.container,
.field,
.notes-grid-field,
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.field,
.notes-grid {
  height: 100%;
  width: 100%;
}

.container {
  flex-wrap: wrap;

  @media (orientation: landscape) {
    .board {
      width: 90vh;
      height: 90vh;
      font-size: clamp(0em, 5.5vh, 3em);

      & * > .notes-grid-field {
        font-size: 0.5em;
      }
    }

    .controls {
      height: 90vh;
      width: calc(90vw - 90vh);
      // max-width: calc(90vw - 90vh);
    }
  }

  @media (orientation: portrait) {
    .board {
      width: 90vw;
      height: 90vw;
      font-size: clamp(0em, 5.5vw, 3em);

      & * > .notes-grid-field {
        font-size: 0.5em;
      }
    }

    .controls {
      width: 90vw;
      height: calc(90vh - 90vw);
      // max-height: calc(90vh - 90vw);
    }
  }

  .board {
    @include grid(var(--boardSize), 1fr);
    border-left: 1px solid var(--ion-color-secondary);
    border-top: 1px solid var(--ion-color-secondary);

    & .field {
      color: #aaa;
      border-right: 1px solid var(--ion-color-secondary);
      border-bottom: 1px solid var(--ion-color-secondary);

      & .notes-grid {
        @include grid(3, 1fr);

        & .notes-grid-field {

        }
      }
    }
  }

  .controls {
    background-color: brown;
  }
}
