<app-header parentPath="home"></app-header>

<ion-content>
  <div class="container">
    <div class="buttons-section">
      @if(canContinue) {
      <div class="continue-info">
        <small>{{ continueOptions.level | firstUpper }} {{ continueOptions.time}}</small>
      </div>
      }
      <ion-button expand="block" (click)="onContinue()" [disabled]="!canContinue">Continue</ion-button>
      <ion-button expand="block" (click)="openMenuLevel(true)">New game</ion-button>
    </div>
  </div>
</ion-content>

<ion-action-sheet
  [isOpen]="isMenuLevelOpen"
  [header]="menuLevelTitle"
  [buttons]="menuLevelButtons"
  (didDismiss)="onMenuLevelDismiss($event)"
></ion-action-sheet>
