@mixin button($width, $maxWidth) {
  ion-button {
    width: $width;
    max-width: $maxWidth;
  }
}

:host > * {
  user-select: none;
}
ion-content {
  .container,
  .buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    justify-content: space-evenly;
    height: 100%;

    .logo {
      font-family: 'Pacifico';
      font-size: 3.5rem;
      .description {
        text-align: center;
        font-size: 1.2rem;
      }
    }

    .buttons-section {
      width: 100%;

      $width: 80%;
      $maxWidthVw: 30vw;
      $maxWidthVh: 30vh;

      .continue-info {
        display: flex;
        flex-direction: column;
        width: $width;
        max-width: max($maxWidthVh, $maxWidthVw);
        text-align: left;
      }

      @media (orientation: portrait) {
        @include button($width, $maxWidthVh);
      }

      @media (orientation: landscape) {
        @include button($width, $maxWidthVw);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    width: 100%;

    .mode {
      font-weight: bold;
    }
  }
}
