<ion-content [fullscreen]="true">
  <div class="container">
    <div class="board">
      @for (field of board.flat(); track field) {
      <div class="field">
        @if(isValueMode) {
        <div class="notes-value">{{ field }}</div>
        } @else {
        <div class="notes-grid">
          @for (fieldNotes of notesGrid.flat(); track fieldNotes) {
          <div class="notes-grid-field">{{ fieldNotes }}</div>
          } @empty {}
        </div>

        }
      </div>
      } @empty { Empty }
    </div>
    <div class="controls">controls</div>
  </div>
</ion-content>
